.Rproj.user
.Rhistory
.RData
.Ruserdata
passwords.R
manuscript/
old_scripts/
EJI_2022_NY.csv                 
EJI-2022-Documentation.pdf
data/processed_data/
data/needed_for_gt_to_polygons_function/poly_matrix_nyc_2010CTs.rds
data/needed_for_gt_to_polygons_function/poly_matrix_nyc_2020CTs.rds
outputs/models/
JS Code Review.docx
